<div class="container">
  <div class="row my-4">
    <div class="bg-light text-dark" style="margin-left: 150px; font-size: 20px;">
      <strong>　マイページ　</strong>
    </div>
  </div>
  <div class="row">
    <strong style="font-size: 20px;" >登録情報　</strong>
    <%= link_to " 編集する ", customers_information_edit_path, class: "btn btn-success" %>
  </div>
  <div class="row my-4">
    <div class="col-8">
      <table class="table table-bordered" style="border: 1.5px solid black;" >
        <tr style="border: 1.5px solid black;" >
          <th class="table-secondary col-3" style="border: 1.5px solid black;" >
            氏名
          </th>
          <td>
            <%= @customer.last_name %>　<%= @customer.first_name %>
          </td>
        </tr>
        <tr style="border: 1.5px solid black;" >
          <th class="table-secondary" style="border: 1.5px solid black;" >
            カナ
          </th>
          <td>
            <%= @customer.last_name_kana %>　<%= @customer.first_name_kana %>
          </td>
        </tr>
        <tr style="border: 1.5px solid black;" >
          <th class="table-secondary" style="border: 1.5px solid black;" >
            郵便番号
          </th>
          <td>
            <%= @customer.postal_code %>
          </td>
        </tr>
        <tr style="border: 1.5px solid black;" >
          <th class="table-secondary" style="border: 1.5px solid black;" >
            住所
          </th>
          <td>
            <%= @customer.address %>
          </td>
        </tr>
        <tr style="border: 1.5px solid black;" >
          <th class="table-secondary" style="border: 1.5px solid black;" >
            電話番号
          </th>
          <td>
            <%= @customer.telephone_number %>
          </td>
        </tr>
        <tr style="border: 1.5px solid black;" >
          <th class="table-secondary" style="border: 1.5px solid black;" >
            メールアドレス
          </th>
          <td>
            <%= @customer.email %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <strong style="font-size: 20px;" >配送先　　　</strong>
    <%= link_to "　一覧を見る　", addresses_path, class: "btn btn-primary" %>
  </div>
  <div class="row mt-4">
    <strong style="font-size: 20px;" >注文履歴　　</strong>
    <%= link_to "　一覧を見る　", orders_path, class: "btn btn-primary" %>
  </div>
</div>