<div class="container">
  <div class="row">
    <div class="fs-4 px-4 py-3 my-5 bg-light text-dark">
      <strong>商品詳細</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @item.get_image %>
    </div>
    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税込価格<br>(税抜価格)</td>
            <td><%= @item.with_tax_price.to_s(:delimited) %>（<%= @item.price.to_s(:delimited) %>）円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <% if @item.is_active == true %>
                <li class="list-unstyled text-success"><strong>販売中</strong></li>
              <% else %>
                <li class="list-unstyled text-muted"><strong>販売停止中</strong></li>
              <% end %>
  　　　　　　</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>