<div class="container">
  <div class="row my-5">
    <div class="col-3">
      <table style="border: 1px solid;">
        <tr style="border: 1px solid;">
          <th><strong>　　　　　ジャンル検索　　　　　</strong></th>
        </tr>
        <% @genres.each do |f| %>
        <tr>
          <td>　　<%= f.name %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-9">
      <div class="card" style="width: 600px;">
        <img class="card-img" src="/assets/nagano_cake.jpg" height="350">
        <div class="card-img-overlay">
          <div class="card-card bg-white" style="border: 1.5px solid;">
            <p class="card-text" style="font-size: 15px;">
              <br>
              ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。<br>
              <br>
            </p>
          </div>
        </div>
      </div>
      <div>
        <h1 style="font-size: 30px;">新着商品</h1>
        <table>
          <tr>
          <% @items.first(4).each do |f| %>
            <td>
              <div>
                <%= link_to item_path(f.id) do %>
                  <%= image_tag f.get_image, :size => '200x170' %>
                <% end %>
              </div>
              <div>商品名：<%= f.name %></div>
              <div>¥<%= f.price.to_s(:delimited) %></div>
            </td>
          <% end %>
          </tr>
        </table>
      </div>
      <div class="text-right">
        <%= link_to "全ての商品を見る＞", items_path %>
      </div>
    </div>
  </div>
</div>