<div class="container">
  <div class="row my-4">
    <div class="bg-light text-dark" style="margin-left: 150px; font-size: 20px;">
      <strong>　<%= @customer.full_name %><span class="font-weight-normal">さんの</span>会員情報編集　</strong>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name %>  <%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana %>  <%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td class="d-block">会員ステータス</td>
            <td>
              <%= f.radio_button(:is_deleted, 0, :checked =>  !@customer.is_deleted) %>有効
              <%= f.radio_button(:is_deleted, 1, :checked =>  @customer.is_deleted) %>退会
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit '変更を保存', class: "btn btn-lg btn-success" %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>