<div class="container">
  <div class="row">
    <div class="fs-4 px-4 py-3 my-5 bg-light text-dark font-weight-bold">会員一覧</div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @customers.each do |f| %>
          <tr>
            <td>
              <%= f.id %>
            </td>
            <td>
              <%= link_to admin_customer_path(f.id) do %>
                <%= f.full_name %>
              <% end %>
            </td>
            <td>
              <%= f.email %>
            </td>
            <td>
              <%= f.is_delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>
