<div class="container">
  <div class="row my-4">
    <div class="bg-light text-dark" style="margin-left: 150px; font-size: 20px;">
      <strong>　注文履歴一覧　</strong>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <table class="table table-hover table-inverse">
        <tbody>
          <tr class="table-secondary">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        <% @order_details.each do |f| %>
          <tr>
            <td>
              <%= link_to admin_order_path(f.order.id), class: "text-body" do %>
              <u><%= f.order.created_at.to_s(:datetime_jp) %></u>
              <% end %>
            </td>
            <td>
              <%= f.order.name %>
            </td>
            <td>
              <%= f.amount %>
            </td>
            <td>
              <%= f.order.status %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @order_details %>
    </div>
  </div>
</div>