<div class="container">
  <div class="row">
    <div class="fs-4 px-4 py-3 my-5 bg-light text-dark font-weight-bold">注文履歴一覧</div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <table class="table">
        <tbody>
          <tr class="table-secondary">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        <% @order_details.each do |f| %>
          <tr>
            <td>
              <%= link_to admin_order_path(f.order.id), class: "text-body" do %>
              <u><%= f.order.created_at.to_s(:datetime_jp) %></u>
              <% end %>
            </td>
            <td>
              <%= f.order.name %>
            </td>
            <td>
              <%= f.amount %>
            </td>
            <td>
              <%= f.order.status %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @order_details %>
    </div>
  </div>
</div>