<div class="container">
  <div class="row">
    <div class="my-4 bg-light text-dark" style="margin-left: 150px; font-size: 18px;">
      <strong>　新規会員登録　</strong>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <table class="table table-borderless">
          <tr>
            <td class="col-4">名前</td>
            <td class="col-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@sample.com" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr>
            <td class="col-4">フリガナ</td>
            <td class="col-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@sample.com" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">メールアドレス</td>
            <td class="col-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@sample.com" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr>
            <td class="col-4">郵便番号(ハイフンなし)</td>
            <td class="col-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@sample.com" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr>
            <td class="col-4">住所</td>
            <td class="col-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@sample.com" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr>
            <td class="col-4">電話番号(ハイフンなし)</td>
            <td class="col-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@sample.com" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">パスワード(6文字)</td>
            <td class="col-5">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr class="d-flex">
            <td class="col-3">パスワード(確認用)</td>
            <td class="col-5">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </td>
          </tr>
          <tr class="d-flex">
            <td class="col-3"></td>
            <td class="col-5">
              <%= f.submit "新規登録" , class: "btn btn-success" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="my-4 bg-light text-dark" style="margin-left: 200px;">
      <strong>　既に登録済みの方　</strong>
    </div>
  </div>
  <div class="row">
    <div style="margin-left: 350px;">
      <%= link_to "こちら", new_customer_session_path %>　からログインしてください。
    </div>
  </div>
</div>