<div class="container">
  <div class="row">
    <div class="my-4 bg-light text-dark" style="margin-left: 150px; font-size: 18px;">
      <strong>　新規会員登録　</strong>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
        <table class="table table-borderless">
          <tr class="d-flex">
            <td class="col-4">名前　　　　　　　　　　　　　　(姓)</td>
            <td class="col-4">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和" %>
            </td>
            <td class="col-4">
              (名)　<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "道子" %>
            </td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">フリガナ　　　　　　　　　　　(セイ)</td>
            <td class="col-4">
              <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "レイワ" %>
            </td>
            <td class="col-4">
              (メイ)<%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "ミチコ" %>
            </td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">メールアドレス</td>
            <td class="col-4">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@sample.com" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">郵便番号(ハイフンなし)</td>
            <td class="col-4">
              <%= f.number_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "0000000" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">住所</td>
            <td colspan="2">
              <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0" %>
            </td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">電話番号(ハイフンなし)</td>
            <td class="col-4">
              <%= f.telephone_field  :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "00000000000" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">パスワード(6文字)</td>
            <td class="col-4">
              <%= f.password_field :password, autocomplete: "password" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">パスワード(確認用)</td>
            <td class="col-4">
              <%= f.password_field :password_confirmation, autocomplete: "password_confirmation" %>
            </td>
            <td class="col-4"></td>
          </tr>
          <tr class="d-flex">
            <td class="col-4"></td>
            <td class="col-4">
              <%= f.submit "新規登録" , class: "btn btn-success" %>
            </td>
            <td class="col-4"></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="my-4 bg-light text-dark" style="margin-left: 200px;">
      <strong>　既に登録済みの方　</strong>
    </div>
  </div>
  <div class="row">
    <div style="margin-left: 350px;">
      <%= link_to "こちら", new_customer_session_path %>　からログインしてください。
    </div>
  </div>
</div>