<div class="container">
  <div class="row my-4">
    <div class="bg-light text-dark" style="margin-left: 150px; font-size: 20px;">
      <strong>　注文情報確認　</strong>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-7">
      <table class="table table-bordered">
        <tr>
          <td class="col-4 table-secondary" style="border: 1.5px solid black;">
            商品名
          </td>
          <td class="col-2 table-secondary" style="border: 1.5px solid black;">
            単価(税込)
          </td>
          <td class="col-2 table-secondary" style="border: 1.5px solid black;">
            数量
          </td>
          <td class="col-2 table-secondary" style="border: 1.5px solid black;">
            小計
          </td>
        </tr>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td style="border: 1.5px solid black; font-weight: bold;">
            <%= image_tag cart_item.item.get_image, :size => '50x40' %>
            <%= cart_item.item.name %>
          </td>
          <td style="border: 1.5px solid black; font-weight: bold;">
            <%= cart_item.item.with_tax_price.to_s(:delimited) %>
          </td>
          <td style="border: 1.5px solid black;">
            <%= form_with model: cart_item do |f| %>
              <%= f.select :amount, *[1..10] %>
              <%= f.submit "変更", class: "btn btn-success" %>
            <% end %>
          </td>
          <td style="border: 1.5px solid black; font-weight: bold;">
            <%= cart_item.subtotal.to_s(:delimited) %>
          </td>
        </tr>
        <% @total += cart_item.subtotal %>
        <% end %>
      </table>
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
      <table>

      </table>
    </div>
  </div>
</div>